@font-face {
	font-family: 'gothambold1';
	src: url('./gothambold1.eot');
	src: local('gothambold1'), url('./gothambold1.woff') format('woff'), url('./gothambold1.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_5903">Text with this font applied</p> */
.fontsforweb_fontid_5903 {
	font-family: 'gothambold1' !important;
}

/* Font downloaded from FontsForWeb.com */
@font-face {
  font-family: 'ArnoPro-Regular';
  src: url('ArnoPro-Regular.eot?#iefix') format('embedded-opentype'),  url('ArnoPro-Regular.otf')  format('opentype'),
	     url('ArnoPro-Regular.woff') format('woff'), url('ArnoPro-Regular.ttf')  format('truetype'), url('ArnoPro-Regular.svg#ArnoPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamBook';
  src: url('GothamBook.eot?#iefix') format('embedded-opentype'),  url('GothamBook.woff') format('woff'), url('GothamBook.ttf')  format('truetype'), url('GothamBook.svg#GothamBook') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamMedium';
  src: url('GothamMedium.eot?#iefix') format('embedded-opentype'),  url('GothamMedium.woff') format('woff'), url('GothamMedium.ttf')  format('truetype'), url('GothamMedium.svg#GothamMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BaskervilleBold';
  src: url('BaskervilleBold.eot?#iefix') format('embedded-opentype'),  url('BaskervilleBold.woff') format('woff'), url('BaskervilleBold.ttf')  format('truetype'), url('BaskervilleBold.svg#BaskervilleBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
