@charset "utf-8";
/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
}
img, iframe {
	max-width: 100%;
	
	height: auto;
}
section#top [class="col-"] {
	padding: 0px;
}

a.c_login{ position:absolute; right:0; top:5px;}

/*Fonts*/
@font-face {
	font-family: 'robotomedium';
	src: url('fonts/Roboto-Medium-webfont.eot');
	src: url('fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/Roboto-Medium-webfont.woff') format('woff'),  url('fonts/Roboto-Medium-webfont.ttf') format('truetype'),  url('fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotolight';
	src: url('fonts/Roboto-Light-webfont.eot');
	src: url('fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/Roboto-Light-webfont.woff') format('woff'),  url('fonts/Roboto-Light-webfont.ttf') format('truetype'),  url('fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotobold';
	src: url('fonts/Roboto-Bold-webfont.eot');
	src: url('fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/Roboto-Bold-webfont.woff') format('woff'),  url('fonts/Roboto-Bold-webfont.ttf') format('truetype'),  url('fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotoblack';
	src: url('fonts/Roboto-Black-webfont.eot');
	src: url('fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/Roboto-Black-webfont.woff') format('woff'),  url('fonts/Roboto-Black-webfont.ttf') format('truetype'),  url('fonts/Roboto-Black-webfont.svg#robotoblack') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotoregular';
	src: url('fonts/Roboto-Regular-webfont.eot');
	src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/Roboto-Regular-webfont.woff') format('woff'),  url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),  url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*Fonts*/
.logo {
	max-height: 116px;
	max-width:373px;
	margin:0 auto;
}
img.logo {
	position: relative;
}
/*Slider*/
section#slider {
	width: 100%;
	position: relative;
}
.slider-bar {
	background: none repeat scroll center center #FFFFFF;
	border-radius: 5px;
	opacity: 1;
	padding: 0px;
	margin-top: 44px;
	margin-bottom: 26px;
	padding: 0px;
	max-width: 985px;
}
.slider-content {
	max-width: 690px;
	z-index: 3;
	margin-top: 86px;
	margin-left: 30px;
}
.content-slider {
	line-height: 24px;
	padding-top: 10px;
	width: 100%;
}
.slider-title {
	padding: 10px 0px;
}
/*Slider*/

/*section-one*/
section#one {
	width: 100%;
	padding: 10px 0px;
	position: relative;
}
.block-one {
	width: 100%;
	width: 100%;
padding: 65px 0px;
}

.textwidget{font-family: 'robotoregular';
font-size: 13px;
color: #8e8e8e;}

/*section-two*/
section#two {
	width: 100%;
	padding: 40px 0px;
	position: relative;
	background: #6d97a2 center no-repeat;
}
.handshake {
	width: 100%;
	top: 82px;
	position: relative;
	left: 90px;
}
/*section-three*/
section#three {
	width: 100%;
	position: relative;
	background: #ffffff;
}
.block{width:100%;}
.block-two {
	padding: 70px 0px;
	width: 100%;
	height: 480px;
	border-bottom: 2px solid #6d97a2;
}
/*section-four*/
section#four {
	width: 100%;
	position: relative;
	padding: 50px 0px;
}
.right-section {
	position: relative;
	top: 82px;
}
.man-image {
	max-width: 100%;
	bottom: 0px;
	position: relative;
	padding-top: 12px;
}
/*section-five*/
section#five {
	width: 100%;
	background: #6d97a2 no-repeat;
	padding: 60px 0px;
}
.right-section-one {
	position: relative;
}
.content-one {
	padding-top: 24px;
}
/*section-six*/
section#six {
	width: 100%;
	padding: 55px 0px;
}
.block-five {
	width: 100%;
}
.affiliation {
	position: relative;
	top: 12px;
	text-align:center;
	margin: 0px 95px;
	padding-bottom: 65px;
}
.affiliation ul{display:table;margin:0px;}
.affiliation ul li{
display: table-cell;
vertical-align: middle;
padding: 0px 5px;
float:left;
min-height:122px;
}

/*section-seven*/
section#seven {
	width: 100%;
	padding: 100px 0px;
	background: #26343f;
}
.block-six {
	width: 100%;
}
/*section-eight*/

section#eight {
	padding: 75px 0px;
	width: 100%;
	position: relative;
}
.block-seven {
	text-align: center;
	width: 100%;
}
.get-touch {
	width: 35%;
	margin-left: 33.33%;
	background: #fff5d3;
}
.inquiry {
	width: 100%;
	position: relative;
	top: 40px;
}
.speech {
	padding: 30px 0px 0px;
}
.form {
	width: 100%;
	position: relative;
	padding: 65px 0px;
}
.block {
	width: 100%;
	display: block;
}
.form-name {
	width: 50%;
	height: 45px;
	padding: 8px 8px;
	margin: 0px;
}
.form-email {
	width: 49.5%;
	height: 45px;
	padding: 8px 8px;
	margin: 0px;
	float: right;
}
.form-message {
	width: 100%;
	margin-top: 25px;
	padding: 8px 8px;
}
.btn-default {
background: #45e1eb;
color: white;
position: absolute;
bottom: 0px;
left: 0px;
z-index: 3;
}
/*section-nine*/
section#nine {
	height: 600px;
	width: 100%;
	position: relative;
}
.map {
	height: 600px;
}
footer.footer {
	padding: 40px 0px;
	width: 100%;
	background: #232323;
}
.footer h2 {
	font-family: 'robotolight';
	font-size: 18px;
	color: #bcbcbc;
}
.footer p {
	font-family: 'robotoregular';
	font-size: 13px;
	color: #8e8e8e;
}
.company-logos {
	width: 96%;
}
.company-logos ul {
	display: table;
}
.company-logos ul li {
	display: table-cell;
	vertical-align: middle;
	margin: 0px 10px;
}
.company-logos img {
	width: 100%;
}
.flexslider .slides > li {
	position: relative;
}
.block-one h2 {
	background: url(img/tick-icon.png) no-repeat left center;
	display: block;
	font-size: 18px;
	font-family: 'robotoregular';
	line-height: 30px;
	padding-left: 35px;
	margin: 0;
}
.block-one h3 {
	color: #c2c5c7;
	padding: 0;
	font-size: 18px;
	display: block;
	font-family: 'robotoregular';
}
.block-one p {
	font-size: 13px;
	line-height: 22px;
	color: #676e74;
}
.why {
	padding: 10px 0px;
	line-height: 22px;
}
.why p {
	font-family: 'robotoregular';
	font-size: 18px;
	line-height: 30px;
	color: white;
	padding-top: 6px;
}
.why p span {
	background-color: #fff5d3;
	color: #000;
}
.why h2 {
	font-size: 32px;
	font-family: 'robotomedium';
	color: white;
}
.block-two h2 {
	font-size: 32px;
	font-family: 'robotomedium';
}
.testimonial p {
	font-family: 'robotomedium';
	font-size: 18px;
	line-height: 28px;
}
.testimonial h2 {
	font-family: 'robotoblack';
	font-size: 18px;
	color: #1760af;
}
.testimonial h3 {
	font-family: 'robotolight';
	font-size: 18px;
	color: #000000;
	line-height: 28px;
}
.block-three h2 {
	font-size: 32px;
	font-family: 'robotomedium';
}
.block-three p {
	font-family: 'robotoregular';
	font-size: 18px;
	line-height: 29px;
}
section#five h2 {
	font-size: 32px;
	font-family: 'robotomedium';
	color: #ffffff;
	padding-left: 14px;
}
.content-one p {
	font-size: 18px;
	font-family: 'robotoregular';
	line-height: 31px;
	color: #dee6e9;
}
.right-section-one p {
	font-size: 18px;
	font-family: 'robotoregular';
	line-height: 31px;
	color: #dee6e9;
}
.right-section-one p span {
	background-color: #fff5d3;
	color: #000;
	padding-left: 5px;
padding-right: 5px;
}
.block-five p {
	font-family: 'robotolight';
	font-size: 20px;
	color: #6d97a2;
}
.block-five p span {
	font-family: 'robotomedium';
	font-size: 20px;
}
.team {
	max-width: 100%;
	padding: 10px 164px;
}
.slider-title h2 {
	font-size: 58px;
	font-family: 'robotoblack';
}
.slider-title h2 span {
	font-size: 58px;
	font-family: 'robotoblack';
	color: #ffffff;
}
.content-slider p {
	font-family: 'robotomedium';
	font-size: 18px;
	line-height: 30px;
}
.content-slider p span {
	font-family: 'robotoblack';
	background: #6d97a2;
	color: #ffffff;
	padding-left:6px;
	padding-right:6px;
}
.slider-bar p {
	font-family: 'robotolight';
	font-size: 13px;
	color: #787e83;
	padding: 10px 12px;
}
.block-six h2 {
	font-family: 'robotomedium';
	font-size: 32px;
	color: #ffffff;
	margin: 10px 0px;
}
.block-six p {
	font-family: 'robotoregular';
	font-size: 18px;
	color: #eaebec;
	line-height: 28px;
}
.reward {
	padding: 0px 70px 0px 0px;
}
.work {
	padding: 0px 54px 0px 0px;
}
.block-seven h2 span {
	font-family: 'robotomedium';
	font-size: 44.87px;
	background: #fff5d3;
	padding-left: 25px;
padding-right: 25px;
}
.speech p {
	font-family: 'robotoregular';
	font-size: 22px;
	text-align: justify;
}
.contact li {
	list-style: none;
}
.pointer {
	width: 30%;
}
.pointer-location {
	width: 70%
}
.mail {
	width: 30%;
}
.mail-contact {
	width: 70%;
}
section#top {
	width: 100%;

	background-size: cover;
}
.wrapper {
	max-width: 1065px;
	max-height: 600px;
	position: relative;
	top: -50px;
	margin: 0 auto;
	left: 49px;
}
